{% extends 'includes/baseOne.html' %}
{% block page_title %}Patient Login {% endblock %}
{% load static %}
{% block content %}
<div id="content">
    <div class="form-container">
        <button onclick="history.back()" style="position: absolute;
                top: 80px;
                left: 20px;
                background-color: #f0f0f0;
                border: none;
                padding: 10px 16px;
                border-radius: 8px;
                font-size: 16px;
                cursor: pointer;
                color: #333;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                transition: background-color 0.3s;">← Back</button>
        <form action="patient_login" method="POST"> 
            {% csrf_token %}
            <h2>Patient Login</h2>
            <input type="email" name="email" placeholder="Enter Your Email" required><br>
            <input type="password" name="password" placeholder="Enter Your Password" required><br>
            <input type="submit" value="Login">
            <p style="text-align: center; margin-top: 10px;">
                    <a href="#" onclick="showForgotPasswordPatient()">Forgot Password?</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}

{%block extraCss%}
  <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
  <link rel="stylesheet" href="{% static 'css/pt_login.css' %}">

{%endblock%}
{% block extra_js %}
    <script src="{% static 'js/script2.js' %}" defer ></script>
{% endblock %}

